.mission {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        @extend %rubik-400;
        font-size: 16px;
        color: #243f4d;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__img {
        max-width: 570px;
        max-height: 676px;
        object-fit: cover;
    }

    &__item-top {
        display: flex;
        align-items: center;
    }

    &__items {}

    &__items-num {
        font-size: 140px;
        color: #a3bbc8;
        @extend %rubik-700;
        margin-right: 30px;
    }

    &__items-item {
        display: block;
        max-width: 115px;
        @extend %rubik-400;
        font-size: 16px;

        & span {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__text {
        padding-bottom: 64px;
        border-bottom: 2px solid #ebeef3;
        margin-bottom: 30px;
    }

    &__text-title {
        font-size: 36px;
        @extend %dmsans-700;
        margin-bottom: 35px;
    }

    &__bottom {
        display: flex;
    }

    &__bottom-items {
        display: flex;
        align-items: center;
        padding: 0 20px 0 0;

        &:not(:last-child) {
            border-right: 1px solid #ebeef3;
            margin-right: 25px;
        }

    }

    &__icon {
        margin-right: 16px;
        max-width: 53px;
        max-height: 53px;
        object-fit: cover;
    }

    &__bottom-title {
        font-size: 36px;
        @extend %dmsans-700;
    }

    &__bottom-text {
        display: block;
        color: #4c4c4c;
        @extend %dmsans-700;
    }
}

.achievements {
    background-color: #fcd7b6;
    margin-bottom: 117px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 85px;
        margin-bottom: 81px;
        @extend %dmsans-700;

    }

    &__icon {
        max-width: 70px;
        max-height: 70px;
        object-fit: cover;
        display: block;
    }

    &__num {
        font-size: 36px;
        display: block;
    }

    &__text {
        font-size: 18px;
        display: block;
    }
}

.team {
margin-bottom: 90px;
    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__item {
        max-width: 315px;
        color: #243f4d;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        justify-content: flex-end;

    }

    &__title {
        font-size: 36px;
        @extend %dmsans-700;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 16px;
        @extend %rubik-400;
        margin-bottom: 60px;
    }

    &__link {
        @extend %dmsans-700;
        color: #fff;
        background-color: #a3bbc8;
        padding: 18px 61px 18px 18px;
        position: relative;

        &::after {
            content: "";
            width: 16px;
            height: 18px;
            position: absolute;
            background-repeat: no-repeat;
            background-image: url(../images/icon/shape_.svg);
            right: 26px;
            top: 21px;
            

        }
    }
}

.item-team {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding: 0 15px;
    margin-bottom: 40px;

    &__img {
        max-width: 370px;
        max-height: 315px;
        object-fit: cover;
        display: block;
        width: 100%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        padding: 26px 21px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        margin-top: -50px;
    }

    &__content {
        
    }

    &__link-box {
        display: flex;
        align-items: center;
    }

    &__name {
        @extend %dmsans-700;
        display: block;
        color: #436372;
        font-size: 22px;
        margin-bottom: 16px;
    }

    &__position {
        font-size: 16px;
        color: #565872;
        @extend %rubik-400;


    }

    &__link {
        width: 41px;
        height: 41px;
        object-fit: cover;
        &:not(:last-child) {
            margin-right: 7px;
        }
    }
}



