.recent__items {
    margin-top: 28px;
}

.shop {
    &__filters {
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
    }

    &__inner {
        display: flex;
    }

    &__content2-item {
        margin-bottom: 83px;
        &:not(:last-child){
            margin-bottom: 44px;
        }
    }
}

.pagination--list2 {
    transform: translateX(-12%);
}