$header: #436372;
$hover: #130ca5;
$footer:#7b7b7b;

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%title {
    text-align: center;
    @extend%dmsans-700;
    font-size: 36px;
    color: #191919;
    
}

