@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'login';
@import 'component/header';
@import 'component/footer';
@import 'component/top';
@import 'component/blog-item';
@import 'component/recent-post';
@import 'component/product-nav';
@import 'component/product-card';
@import 'component/product-card2';
@import 'component/product-card3';
@import 'component/product-card4';
@import 'component/product-card5';
@import 'component/blog-card';
@import 'component/partners';
@import 'component/pagination';
@import 'component/filter/filter-price';
@import 'component/filter/filter-category';
@import 'component/filter/search';
@import 'home/top-slider';
@import 'home/services';
@import 'home/products';
@import 'home/design';
@import 'home/video';
@import 'home/insights';
@import 'terms-conditions';
@import 'poduct-list1';
@import 'poduct-list2';
@import 'about';





.pagination-blog {
    justify-content: start;
    transform: translateX(0);
    padding-top: 35px;
}

.blog__inner {
    display: flex;
    justify-content: space-between;
}




















