@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 50px 65px;
    @extend %rubik-500;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;

    &__text {
        padding-left: 14px;
        font-size: 36px;
        line-height: 58px;
        color: $header;
    }
}

.menu {
    &__list {
        display: flex;
        transform: translateX(15%);
        font-size: 15px;
        line-height: 12px;
    }

    &__list-item+.menu__list-item {
        padding-left: 36px;
    }

    &__list-link {
        color: $header;
        padding-bottom: 2px;

        &:hover {
            color: $hover;
            border-bottom: 1px solid $hover;
        }
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link+.user-nav__link {
        padding-left: 20px;
    }

    &__num {
        position: absolute;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        width: 16px;
        height: 16px;
        top: 11px;
        left: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        @extend %dmsans-400;
    }


    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 20px;
        padding: 0 20px;
        width: 178px;
        height: 51px;
        background-color: #fcd7b6;
        border-radius: 25px 25px 25px 25px;
    }

    &__segmentation {
        font-size: 32px;
        color: #fde7d3;
    }

    &__link {
        align-items: center;
    }

    &__link-img {
        display: inline;
        padding-top: 18px;
    }

    &__link-search {
        text-align: center;
        background-color: #edf1f4;
        width: 51px;
        height: 51px;
        border-radius: 50%;
    }

    &__link-botton {
        text-align: center;
        background-color: #a3bbc8;
        width: 51px;
        height: 51px;
        border-radius: 50%;
    }
}

.top-slider {
    margin: 0 auto;
    max-width: 1770px;
    background-color: #fcd7b6;
    position: relative;
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 84%;

    &__content {
        padding-top: 211px;
        padding-bottom: 293px;

    }


    &__item {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 0 300px;

    }

    &__title {
        max-width: 470px;
        font-size: 72px;
        line-height: 70px;
        @extend %rubik-500;
        color: #243f4d;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    &__text {
        max-width: 370px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 53px;
        color: #436372;
    }

    &__link {
        background-color: #a3bbc8;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 10px;
        color: #ffffff;
        padding: 24px 18px 22px 26px;


        &:after {
            content: url(../images/arrow-btn.png);
            padding-left: 60px;

        }

        &__images {
            padding-top: 20px;
        }
    }

    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 50%;
        bottom:5%;
        transform: translateX(-50%);

        li { padding: 0 6px;
            button {
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 11px;
                @extend %rubik-500;
                color: #243f4d;
                background-color: #fde3cc;
            }

            &.slick-active {
                button{
                background-color: #fff;
                }
            }
        }
    }




}



.footer-top {
    padding: 78px 0 57px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: #7b7b7b;
    border-bottom: 1px solid #dae4e9;

    & a {
        color: #7b7b7b;
        @extend %rubik-400;
    }


    &__logo {
        padding-bottom: 14px;
    }

    &__item-title {
        padding-top: 27px;
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 21px;
        @extend %dmsans-700;
        text-transform: uppercase;
        color: #1f2044;
    }

    &__span {
        text-transform: uppercase;
    }

    &__contact {
        max-width: 200px;
        color: #7b7b7b;
        margin-right: -88px;
    }

    &__adress,
    &__phone,
    &__email {
        display: inline-block;
        margin-bottom: 10px;
    }

    &__newsletter {
        max-width: 270px;
        margin-left: 35px;
    }

    &__list-link {
        display: inline-block;
        padding-bottom: 9px;
    }

    &__item-text {
        padding-bottom: 33px;
    }

    &__form-input {
        background-color: #fef7f0;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 8px 13px;

        &::placeholder {
            @extend %dmsans-400;
            font-size: 12px;
            color: #234969;
        }
    }

    &__form-btn {
        background-color: #a3bbc8;
        max-width: 100px;
        border: none;
        padding: 11px 15px;
        margin-left: -4px;
        @extend %dmsans-400;
        font-size: 14px;
        color: #ffffff;

    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 35px;
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 32px;

    &__nav-item {
        color: #7b7b7b;
        @extend %rubik-400;
    }

    &__span {
        padding: 0 10px;
    }
}






















@import 'media';