.design {
    padding: 23px 0 120px;

    &__inner {
        padding-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
    }

}

.design__nav-btn.mixitup-control-active {
    color: #191919;
}