.insights {
    padding: 102px 0 85px;
    background: linear-gradient(to bottom, #fff 50%, #fef7f0 50%);
    margin-bottom: 20px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title {}

    &__more {
        font-size: 16px;
        @extend %dmsans-700;
        transition: all 0.3s;

        &::after {
            content: ">";
            font-size: 17px;
            padding-left: 10px;
        }

        &:hover {
            color: $hover;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 90px;
    }

    &__item {
        position: relative;
        max-width: 370px;
        background-color: #fff;
        border-radius: 5px;
    }

    &__link {
        
    }

    &__img {
        max-width: 370px;
        max-height: 250px;
        margin-bottom: 35px;
    }

    &__theme {
        position: absolute;
        left: 28px;
        top: 233px;
        color: #fff;
        padding: 5px 31px;
        border-radius: 15px;
        text-transform: uppercase;
        background-color: #a3bbc8;
        @extend %dmsans-700;
    }

    &__content {
        max-width: 335px;
        padding-left: 29px;
    }

    &__text {
        @extend %dmsans-500;
        font-size: 18px;
        line-height: 1.2;
        color: #262626;
        padding: 0 4px 75px;
    }

    &__info {
        position: absolute;
        left: 30px;
        bottom: -4px;
        display: flex;
        justify-content: left;
        border-top: 1px solid #e0e0e0;
        padding: 15px 76px 25px 8px;
    }

    &__date,
    &__author {
        text-transform: uppercase;
        font-size: 12px;
        color: #222933;
        @extend %rubik-400;
        line-height: 2;
    }

    &__date {
        margin-right: 25px;

        &::before {
            content: url(../../images/icon/date.svg);
            padding-right: 5px;
        }
    }

    &__author {
        &::before {
            content: url(../../images/icon/author.svg);
            padding-right: 5px;
        }
    }

    &__bottom {}

    &__partners {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__partners-item {}
}