.products {
    padding: 60px 0 75px;
    font-size: 16px;


    &__title {
        @extend %title;
        margin-bottom: 17px;
    }

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__nav-item {
        &+& {
            margin-left: 19px;
        }
        &:hover {
            color: #191919;
        }

        @extend %dmsans-700;
        color: #8b8b8b;
        margin-bottom: 75px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    &__item {      
        max-width: 270px;
        height: 380px;        
        text-align: center;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        padding-bottom: 37px;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        
       

        &:hover {
            .products__item-nav{
            transform: translateY(0%);
            }
        }



    }

    &__img {        
        display: inline;
        margin: auto;
        padding: 0px 0 25px;
        
        
        
      
        
        
        
    }

    &__name {
        margin-bottom: 6px;
        @extend %dmsans-500;
        color: #243f4d;
    }

    &__price {
        @extend %dmsans-700;
        color: #a3bbc8;
    }

    &__item-nav {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 41%;
        left: 17%;
        transform: translateY(500%);
        transition: all .3s;
        
    }

    &__links {
        width: 44px;
        height: 44px;
        line-height: 3.2;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 8px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

        &:hover {
            background-color: #a3bbc8;

            & path {
                fill: #fff;
            }


        }

    }
}