.top-slider {
    @extend %rubik-500;

    &__inner {
        background-color: #fcd7b6;
        position: relative;
        background-image: url(../images/slider-bg.png);
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: 84%;
    }

    &__content {
        display: block;
        align-items: center;
        padding: 211px 60px 302px 0;
    }


    &__item {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &__title {
        display: block;
        max-width: 470px;
        max-height: 400px;
        overflow: hidden;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        margin-bottom: 23px;
        text-transform: uppercase;
    }

    &__text {
        max-width: 370px;
        max-height: 400px;
        overflow: hidden;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 1.7;
        margin-bottom: 53px;
        color: #436372;
    }

    &__image {
        max-width: 750px;
        max-height: 300px;
    }

    &__link {
        background-color: #a3bbc8;
        font-size: 15px;
        color: #ffffff;
        padding: 24px 18px 22px 26px;
        transition-duration: 0.3s;

        &::after {
            content: url(../images/arrow-btn.svg);
            padding-left: 60px;
        }

        &:hover {
            background-color: $hover;
        }
    }

    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

        li {
            padding: 0 6px;

            button {
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 11px;
                @extend %rubik-500;
                color: #243f4d;
                background-color: #fde3cc;
                transition-duration: 0.3s;

                &:hover {
                    background-color: $hover;
                }
            }

            &.slick-active {
                button {
                    background-color: #fff;
                    transition-duration: 0.3s;

                    &:hover {
                        background-color: $hover;
                    }
                }
            }
        }
    }
}