.video {
    &__inner {
        padding: 200px 0; 
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 102px;
    }

    &__item {        
        &:hover {
            .video__link::after{
            opacity: 1;
            }
        } 
    }

    &__link {
        position: relative;     
        &::after {
            content: url(../images/video-btn-bg.svg);
            position: absolute;
            bottom: -15px;
            left: -15px;            
            transition-duration: 0.7s; 
            opacity: 0;                               
        }             
    } 

    &__btn {
        max-width: 100px;
        max-height: 100px;        
    }
}