.irs--flat .irs-line {
    top: 5px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 4px;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-with-grid .irs-grid {
    display: none;
}

.irs--flat .irs-bar {
    top: 4px;
    height: 5px;
    background-color: #a3bbc8;
}


.irs--flat .irs-handle {
    top: -1px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.filter-price {
    &__num {
        padding: 0 10px 0 5px;
        color: #243f4d;
        font-size: 14px;
        margin-top: -26px;
        @extend %rubik-400;
        display: flex;
        justify-content: space-between;
    }
    &__from::before,
    &__to::before {
        content: "$";
    }
}