.blog-item {
    max-width: 827px;
    @extend %rubik-400;
    margin-bottom: 70px;

    &__img-link {}

    &__top {
        position: relative;
        margin-bottom: 38px;
    }

    &__img {
        max-width: 827px;
        max-height: 500px;
        object-fit: cover;

    }

    &__info {
        position: absolute;
        padding: 23px 25px;
        background-color: #a3bbc8;
        max-width: 275px;
        bottom: 0;

    }

    &__date,
    &__author {
        font-size: 12px;
        color: #fff;
        position: relative;
        padding-left: 20px;

    }

    &__date {
        margin-right: 20px;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icon/calendar-wite.svg);
            width: 12px;
            height: 14px;
            left: 0;
            top: 0;
            
        }
    }

    &__author {

        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/icon/author-wite.svg);
            width: 12px;
            height: 14px;
            left: 0;
            top: 0;
        }
    }

    &__title {
        font-size: 36px;
        color: #333333;
        margin-bottom: 38px;
    }

    &__text {
        font-size: 16px;
        color: #243f4d;
        margin-bottom: 60px;
    }

    &__link {
        @extend %dmsans-700;
        font-size: 15px;
        color: #a3bbc8;
        position: relative;
        padding: 21px 80px 21px 18px;
        border: 1px solid $hover;
        transition: all 0.3s;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/icon/shape-blog.svg);
            background-repeat: no-repeat;
            top: 26px;
            right: 25px;
            width: 24px;
            height: 12px;

        }
        &:hover {
            background-color: #243f4d2f;            
        }
    }
}