.header {
    padding: 50px 0;
    @extend %rubik-500;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        transform: translateX(15%);
        font-size: 15px;
    }

    &__item {
        &:not(:first-child) {
            margin-left: 36px;
        }
    }

    &__link {
        color: $header;
        padding-bottom: 2px;
        transition: 0.3s;
        border: none;

        &:hover {
            color: $hover;
            border-bottom: 1px solid $hover;
        }
    }
}

.user-nav {
    display: flex;
    align-items: center;

    &__img {
        width: 20px;
        height: 20px;
    }

    &__num {
        position: absolute;
        text-align: center;
        font-size: 10px;
        line-height: 1.6;
        width: 16px;
        height: 16px;
        top: 18px;
        left: 44px;
        background-color: #fff;
        border-radius: 50%;
        @extend %dmsans-400;
    }

    &__search {
        background-color: #edf1f4;
        padding: 19px 19px;
        max-width: 51px;
        max-height: 51px;
        border-radius: 50%;
        transition: 0.3s;
        &:hover {
            background-color: $hover;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 30px;    
        max-width: 178px;
        max-height: 50px;
        height: 100%;
        background-color: #fcd7b6;
        border-radius: 25px 25px 25px 25px;
       
    }

    &__heard {
       position: relative;        
        padding: 26px 28px 9px 30px;  

        &::after {
            position: absolute;
            content: '|';
            bottom: 5px;
            left: 80px;
            font-size: 32px;
            color: #fde7d3;
        }
        &:hover {
            fill:$hover;            
        }
    }

    &__shape{
        padding: 26px 38px 9px 30px;
        position: relative;
        &:hover {
            fill:$hover;            
        }
    }

    &__button {
        background-color: #a3bbc8;
        max-width: 51px;
        max-height: 51px;
        border-radius: 50%;
        align-items: center;
        padding: 16px 16px;
        transition: 0.3s;
        & svg {
            fill: #fff;
        }
        &:hover {
            background-color: $hover;
        }
    }

   
}