.header {
    padding: 50px 0;
    @extend %rubik-500;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.menu {
    &__list {
        display: flex;
        transform: translateX(15%);
        font-size: 15px;
       
    }

    &__item{
        &:not(:first-child){
        margin-left: 36px;
        }
    }

    &__link {
        color: $header;
        padding-bottom: 2px;
        transition: .3s;
        border: none;

        &:hover {
            color: $hover;
            border-bottom: 1px solid $hover;
            
            
        }
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
        padding: 20px 20px;
        line-height: 3.7;
        transition: 0.3s;
        

        & svg:hover {
            fill: $hover;          

        }
    }

    &__num {
        position: absolute;
        text-align: center;
        font-size: 10px;
        line-height: 1.6;
        width: 16px;
        height: 16px;
        top: 30px;
        left: 30px;
        background-color: #fff;
        border-radius: 50%;
        @extend %dmsans-400;
    }


    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 36px 24px 18px;
        max-width: 178px;
        max-height: 51px;
        background-color: #fcd7b6;
        border-radius: 25px 25px 25px 25px;
    }


    &__search {

        background-color: #edf1f4;
        max-width: 51px;
        max-height: 51px;
        border-radius: 50%;
    }

    &__heard {
        padding-right: 36px;
        position: relative;

        &::after {
            position: absolute;
            content: '|';
            bottom: 0;
            left: 63px;
            font-size: 32px;
            color: #fde7d3;
        }
    }

    &__link-botton {
        background-color: #a3bbc8;
        max-width: 51px;
        max-height: 51px;
        border-radius: 50%;
    }

    &__botton {
        align-items: center;
        padding: 0 16px 0;

        & svg {
            fill: #fff;
        }
    }
}