.partners{
    padding: 75px 0 92px;
    background-color: #fef7f0;
&__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

&__item {
    max-width: 160px;
    max-height: 110px;
}
    
}